@font-face {
    font-family:"PolySans";
    src: url('../fonts/PolySans_Slim.ttf');
    font-weight: 300;
  }
  @font-face {
    font-family:"PolySans";
    src: url('../fonts/PolySans_Neutral.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family:"PolySans";
    src: url('../fonts/PolySans_Median.ttf');
    font-weight: 600;
  }
  
  body{
    font-family:"PolySans";
  }

  /* header section */
.header-section {
  padding: 12px 60px;
  width: 100%;
  background-color: white;
  position: relative;
}

.custom-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section .custom-container .left-part {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 35px;
  justify-content: flex-start;
  flex: 1;
}

.header-section .custom-container .right-part {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 35px;
  justify-content: flex-end;
}

.header-section .custom-container .left-part .logo-part {
  display: flex;
  align-items: center;
}

.header-section .custom-container .left-part .logo-part img {
  width: 85px;
}

.header-section .custom-container .left-part .link-item-part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.header-section .custom-container .left-part .link-item-part .link-item {
  display: flex;
  align-items: center;
}

.header-section .custom-container .left-part .link-item-part .link-item .dropdown-btn {
  outline: none;
  box-shadow: none;
  border: none;
  font-family: "PolySans";
  font-weight: 300;
  font-size: 15px;
  color: #262626;
}

.header-section .custom-container .left-part .link-item-part .link-item .dropdown-btn:hover {
  color: #25319E;
  font-size: 15px;
  line-height: 19px;
  transition-duration: 0.5s;
}

.header-section .custom-container .left-part .link-item-part .link-item .dropdown-toggle::after {
  color: #25319e;
}

.apply-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background: #25319e;
  border-radius: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: white;
  border: 1px solid #25319e;
}

.apply-btn:hover {
  background-color: white;
  color: #25319e;
  transition-duration: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #262626;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #25319e;
  transition-duration: 0.5s;
}

.main-block .banner-section {
  width: 100%;
}

.banner-section .custom-container {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
}

.banner-section .banner-main {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  /* flex: 1 1 auto; */
  width: 100%;
}

.banner-main .left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 110px;
  background: linear-gradient(218.74deg,
          #d2fff7 -25.56%,
          #eff1ff 29.27%,
          #eaeffb 62.64%,
          #b8d3ed 103.44%);
  border-radius: 25px 0px 0px 25px;
}

.banner-main .left-part .heading-text {
  font-weight: 400;
  font-size: 72px;
  line-height: 74px;
  color: #25319e;
  text-align: left;
}

.banner-main .left-part .features {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
}

.banner-main .left-part .features .feature-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 10px;
}

.banner-main .left-part .features .feature-item p {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #25319e;
}

.banner-main .right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding: 80px 40px;
  gap: 10px;
  background: #25319e;
  border-radius: 0px 25px 25px 0px;
}

.banner-main .right-part .right-part-heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0;
}

.banner-main .right-part .price-selection-part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
}

.banner-main .right-part .price-selection-part .select2-container {
  width: 100% !important;
  /* padding: 15px 20px; */
  border-radius: 15px;
}

.banner-main .right-part .price-selection-part .select2-container--default .select2-selection--single {
  width: 100% !important;
  padding: 15px 20px;
  border-radius: 15px;
  height: unset;
}

.banner-main .right-part .price-selection-part .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  position: absolute;
  top: 50%;
  right: 7%;
  width: 35px;
}

.banner-main .right-part .price-selection-part .select2-container .select2-selection--single .select2-selection__rendered {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #262626;
}

.banner-main .right-part .price-selection-part .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #262626 transparent transparent transparent;
  border-width: 10px 7px 0 7px;
}

.banner-main .right-part .content .apply-btn {
  width: 100%;
  background-color: #d7fceb;
  color: #262626;
  padding: 15px 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #25319e;
  margin-top: 10px;
  cursor: pointer;
}

.banner-main .right-part .content .apply-btn:hover {
  background-color: #25319E;
  border: 1px solid #d7fceb;
  color: #d7fceb;
  transition-duration: 0.5s;
}

.banner-main .right-part .content .ad-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.banner-main .right-part .content .ad-text p {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
}

.banner-main .right-part .content .ad-text p span {
  margin-bottom: 0;
  color: #afb6f4;
}

.main-block .banner-section .custom-container .loan-types-main {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f6f8fe;
  border-radius: 25px;
  padding: 50px;
  margin-top: 40px;

}

/* footer section css */

.footer-section {
  background: #25319E;
  padding-top: 30px;
  padding-bottom: 60px;
}

.footer-section .content .links-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #4E5BCA;
}

.footer-section .content .links-part .link {
  color: #F6F8FE;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  border: 1px solid transparent;
}

.footer-section .content .links-part .link:hover{
  border-bottom: 1px solid white;
  transition-duration: 0.5s;
}

.footer-section .content .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.footer-section .content .copyright .social-media a{
  text-decoration: none;
}

.footer-section .content .copyright .social-media a:hover img{
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.footer-section .content .copyright .text-part .text {
  color: #AFB6F4;
  font-size: 15px;
  line-height: 19px;
}

.footer-section .content .contact {
  border-bottom: 1px solid #4E5BCA;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

.footer-section .content .contact .num {
  color: #F6F8FE;
  font-size: 17px;
  font-weight: 300;
  line-height: 19px;
}

.footer-section .content .text-part {
  padding-top: 30px;
}

.footer-section .content .text-part .box .title {
  color: #FFF;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}

.footer-section .content .text-part .box .text {
  color: var(--cobalt-blue-50, #AFB6F4);
  font-size: 12px;
  line-height: 15px;
}

.footer-section .content .contact .text{
  color: var(--cobalt-blue-50, #AFB6F4);
  font-size: 12px;
  line-height: 125%;
  width: 24%;
}

@media screen and (max-width: 992px) {
  .banner-section .banner-main{
    grid-template-columns: 66% 34%;
  }

  .banner-main .left-part .features{
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .banner-section .banner-main{
    grid-template-columns: 50% 50%;
  }
  .banner-main .left-part {
    padding-left: 80px;
  }

  .banner-main .left-part .heading-text{
      font-size: 45px;
      line-height: 52px;
  }

  .footer-section .content .links-part{
    padding: 15px 70px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-section .content .copyright{
      padding-bottom: 0;
  }

  .footer-section .content .text-part .box{
      margin-bottom: 20px;
  }
}

@media screen and (min-width: 767px) {
  .footer-section .content .copyright .text-part .text{
    display: block;
  }

  .footer-section .content .contact .text{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer-section .content .contact{
    padding: 20px 0 0;
    justify-content: space-between;
  }

  .footer-section .content .copyright .text-part .text{
    display: none;
  }

  .footer-section .content .contact .text{
    display: block;
    width: 25%;
  }
}

@media screen and (max-width: 580px) {

  .header-section .custom-container .left-part .link-item-part{
    display: none;
  }

  .banner-section .banner-main{
    grid-template-columns: 0% 100%;
  }

  .banner-main .right-part{
      border-radius: 25px;
  }

  .main-block .banner-section .custom-container .loan-types-main{
      justify-content: center;
      padding: 20px;
  }

}

@media screen and (max-width: 425px) {
  .banner-section .custom-container{
    padding: 0 20px;
  }
}