body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* main blick css */

.home-page .main-block {
  width: 100%;
  padding-top: 15px;
}

/* loan card css */

.loan-types-main .card-link {
  text-decoration: none;
}

.loan-types-main .card-link:hover .loan-card {
  transition-duration: 0.5s;
  box-shadow: rgba(37, 50, 165, 0.32) 3px 1px 17px;
}

.loan-types-main .loan-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 25px 30px;
  gap: 30px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.loan-types-main .loan-card .description-part {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.loan-types-main .loan-card .description-part p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #25319e;
}

.loan-types-main .loan-card .description-part img {
  width: 36px;
  height: 36px;
}

/* payDay online css */

.main-block .payday-online-section {
  width: 100%;
  margin-top: 120px;
}

.payday-online-section .section-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
}

.payday-online-section .section-content .top-text-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  text-align: left;
}

.payday-online-section .section-content .top-text-part .heading {
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #000000;
  margin: 0;
}

.payday-online-section .section-content .top-text-part p {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #262626;
  max-width: 85%;
}

.payday-online-section .section-content .middle-image-part {
  width: 100%;
}

.payday-online-section .section-content .middle-image-part img {
  width: 100%;
}

.payday-online-section .section-content .bottom-provider-part {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}

.payday-online-section .section-content .bottom-provider-part h5 {
  margin: 0;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858586;
  opacity: 0.7;
  text-align: center;
}

.payday-online-section .section-content .bottom-provider-part .provider-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  width: 80%;
  margin: 0 auto;
}

/* what are payDay section */

.main-block .what-are-payday-section {
  margin-top: 120px;
  width: 100;
  background: linear-gradient(
    218.74deg,
    #d2fff7 -25.56%,
    #eff1ff 29.27%,
    #eaeffb 62.64%,
    #b8d3ed 103.44%
  );
  padding: 120px 0;
}

.main-block .what-are-payday-section .content-div {
  display: flex;
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.what-are-payday-section .content-div .heading-part {
  text-align: left;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: #25319e;
  width: 80%;
}

.what-are-payday-section .content-div .text-part {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #25319e;
}

/* howTo css */
.howTo {
  margin-top: 140px;
}

.howTo .content .first-part .image-part {
  width: 80%;
}

.howTo .content .first-part .text-part {
  max-width: 75%;
  padding-top: 10px;
}

.howTo .content .text-part .head {
  font-style: normal;
  font-weight: 40;
  font-size: 42px;
  line-height: 48.3px;
  color: #262626;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.howTo .content .first-part .text-part ol {
  padding-left: 20px;
  margin: 0;
}

.howTo .content .first-part .text-part ol li {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #474953;
  margin-top: 20px;
}

.howTo .content .first-part .text-part .box {
  margin-top: 40px;
  padding: 30px;
  border-radius: 25px;
  background: #f6f8fe;
}

.howTo .content .first-part .text-part .box .exampleTxt {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #4e5bca;
  margin: 0;
  padding: 0;
}

.howTo .content .first-part .text-part .box .exampleTxt span {
  font-weight: 600;
}

.howTo .content .second-part {
  margin-top: 120px;
}

.howTo .content .second-part .image-part {
  width: 80%;
}

.howTo .content .second-part .text-part {
  max-width: 82%;
}

.howTo .content .second-part .text-part .text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #474953;
}

/* steps section css */

.steps {
  margin-top: 140px;
  padding-top: 120px;
  background-color: #f9f9f9;
  padding-bottom: 140px;
}

.steps .content .top {
  text-align: center;
}

.steps .content .top .head {
  width: 60%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 62px;
  color: #000000;
  padding: 0;
}

.steps .content .top .head-text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  width: 65%;
  margin: 0 auto;
}

.steps .content .step-list {
  margin-top: 40px;
}

.steps .content .step-list .list .step {
  padding-top: 16px;
}

.steps .content .step-list .list .step .title {
  color: #262626;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.52px;
  margin: 0;
  padding: 0;
}

.steps .content .step-list .list .step .detail {
  color: #474953;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin: 20px 0 0 24px;
}

/* requirement section css */

.main-block .requirement-section {
  width: 100%;
  background: linear-gradient(
    218.74deg,
    #d2fff7 -25.56%,
    #eff1ff 29.27%,
    #eaeffb 62.64%,
    #b8d3ed 103.44%
  );
  padding: 140px 0;
}

.main-block .requirement-section .content-main {
  width: 90%;
  margin: 0 auto;
}

.main-block .requirement-section .left-text-part {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  padding-right: 35px;
}

.main-block .requirement-section .left-text-part h2 {
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: #25319e;
  margin: 0;
  width: 75%;
}

.main-block .requirement-section .left-text-part p {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #25319e;
  width: 95%;
}

.main-block .requirement-section .right-card-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.requirement-section .right-card-part .steps-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;
  background: #ffffff;
  border-radius: 25px;
  width: 100%;
}

.requirement-section .right-card-part .steps-card .top-heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 70%;
}

.requirement-section .right-card-part .steps-card .top-heading img {
  width: 26px;
  height: 26px;
}

.requirement-section .right-card-part .steps-card .top-heading h6 {
  font-weight: 400;
  font-size: 26px;
  line-height: 115%;
  color: #000000;
  letter-spacing: -0.02em;
  margin: 0;
}

.requirement-section .right-card-part .steps-card .bottom-content {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.requirement-section .right-card-part .steps-card .bottom-content p {
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  color: #474953;
  text-align: left;
}

/* resson section css */

.reason {
  padding: 120px 0;
}

.reason .content .top {
  text-align: center;
}

.reason .content .top .head {
  color: #000;
  font-size: 42px;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

.reason .content .top .text {
  color: #262626;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  width: 80%;
  margin: 20px auto;
}

.reason .content .card-part {
  margin-top: 50px;
}

.reason .content .card-part .grid {
  display: grid;
}

.reason .content .card-part .box {
  padding: 50px 35px;
  border-radius: 25px;
  background: #fff5f5;
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 15px;
}

.reason .content .card-part .box .text-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reason .content .card-part .box .text-part .title {
  color: #000;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.52px;
  margin: 0;
}

.reason .content .card-part .box .text-part .detail {
  color: #474953;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
}

/* loan online section css */

.loan-online-section {
  padding: 140px 0;
  background: #f6f8fe;
}

.loan-online-section .content .top .head {
  color: #000;
  text-align: center;
  font-size: 56px;
  line-height: 64px;
  width: 60%;
  margin: 0 auto;
}

.loan-online-section .content .top .text {
  color: #262626;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 40px;
  width: 70%;
  margin: 0 auto;
}

.loan-online-section .content .list {
  max-width: 80%;
  margin: 80px auto 0;
}

.loan-online-section .content .list .box:first-child {
  margin-top: 0;
}

.loan-online-section .content .list .box {
  padding: 40px 70px;
  border-radius: 25px;
  background: #fff;
  margin-top: 15px;
}

.loan-online-section .content .list .box .text-part {
  margin-right: 80px;
}

.loan-online-section .content .list .box .text-part .title {
  color: #000;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.52px;
}

.loan-online-section .content .list .box .text-part .detail {
  color: #474953;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 18px;
}

/* pros-cons section css */

.pros-cons {
  padding: 140px 0;
}

.pros-cons .content .top .head {
  color: #000;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.pros-cons .content .top .text {
  color: #262626;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  width: 60%;
}

.pros-cons .content .legend {
  color: #000;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.52px;
  margin-bottom: 15px;
}

.pros-cons .content .box {
  padding: 45px 50px;
  border-radius: 25px;
  background: #f9f9f9;
}

.pros-cons .content .pros .box .adv:first-child {
  margin-top: 0;
}

.pros-cons .content .pros .box .adv {
  margin-top: 35px;
}

.pros-cons .content .pros .box .adv .title {
  color: #108b5f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.pros-cons .content .pros .box .adv .detail {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.pros-cons .content .cons {
  margin-top: 30px;
}

.pros-cons .content .cons .box .dis .title {
  color: #f41c5d;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.pros-cons .content .cons .box .dis .detail {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

/* Faq section css */

.faq {
  background: #f6f8fe;
  padding-top: 120px;
  padding-bottom: 140px;
}

.faq .content .top .head {
  color: #000;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
}

.faq .content .list {
  margin-top: 60px;
}

.faq .content .list .box:first-child {
  margin-top: 0;
}

.faq .content .list .box {
  display: flex;
  gap: 15px;
  margin-top: 45px;
}

.faq .content .list .box .text-part .question {
  color: var(--black-100, #000);
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.52px;
}

.faq .content .list .box .text-part .answer {
  color: var(--grey-100, #474953);
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
}

@media screen and (max-width: 1366px) {
  .loan-online-section .content .top .head {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) {
  .loan-types-main .loan-card .description-part p {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .loan-types-main .loan-card {
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
  }

  .payday-online-section .section-content .top-text-part p {
    max-width: 100%;
  }

  .payday-online-section .section-content .top-text-part .heading {
    font-size: 60px;
    line-height: 60px;
  }

  .payday-online-section
    .section-content
    .bottom-provider-part
    .provider-images {
    max-width: 100%;
    width: 100%;
    margin: unset;
  }

  .what-are-payday-section .content-div .heading-part {
    font-size: 42px;
    width: 100%;
    margin-bottom: 25px;
  }

  .howTo .content .first-part .image-part,
  .howTo .content .second-part .image-part {
    width: 100%;
    margin-bottom: 50px;
  }

  .howTo .content .first-part .image-part img,
  .howTo .content .second-part .image-part img {
    width: 100%;
  }

  .howTo .content .first-part .text-part,
  .howTo .content .second-part .text-part {
    max-width: 100%;
  }

  .steps .content .top .head {
    width: 100%;
    margin-bottom: 25px;
  }
  .steps .content .top .head-text {
    width: 100%;
  }

  .main-block .requirement-section .left-text-part {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .main-block .requirement-section .left-text-part h2 {
    width: 100%;
  }

  .loan-online-section .content .top .head {
    width: 100%;
  }

  .loan-online-section .content .top .text {
    width: 100%;
  }

  .loan-online-section .content .list .box .text-part {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .howTo .content .second-part {
    margin-top: 80px;
  }

  .reason .content .top .text {
    width: 100%;
  }

  .loan-online-section .content .list {
    max-width: 100%;
  }

  .pros-cons .content .top .head {
    font-size: 36px;
  }

  .pros-cons .content .top .text {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .pros-cons .content .pros {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .loan-online-section .content .list .box .gap {
    gap: 20px;
  }

  .payday-online-section .section-content .top-text-part .heading {
    font-size: 36px;
    line-height: 42px;
  }

  .howTo .content .text-part .head {
    font-size: 36px;
    line-height: 42px;
  }

  .steps .content .top .head {
    font-size: 42px;
    line-height: 49px;
  }

  .pros-cons .content .cons .box .dis.gap {
    margin-top: 30px;
  }

  .loan-online-section .content .top .head {
    font-size: 42px;
    line-height: 49px;
  }
}

@media screen and (max-width: 580px) {
  .payday-online-section .section-content .top-text-part .heading {
    font-size: 36px;
    line-height: 42px;
  }

  .payday-online-section .section-content .top-text-part p {
    font-size: 15px;
  }

  .payday-online-section
    .section-content
    .bottom-provider-part
    .provider-images {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .what-are-payday-section .content-div .heading-part {
    font-size: 36px;
  }

  .what-are-payday-section .content-div .text-part {
    font-size: 15px;
  }

  .howTo .content .text-part .head {
    font-size: 26px;
    line-height: 32px;
  }

  .howTo .content .first-part .text-part ol li {
    font-size: 15px;
    line-height: 22px;
  }

  .howTo .content .second-part .text-part .text {
    font-size: 15px;
    line-height: 19px;
  }

  .steps .content .top .head {
    font-size: 36px;
    line-height: 42px;
  }

  .steps .content .top .head-text {
    font-size: 15px;
    line-height: 22px;
  }

  .steps .content .step-list .list .step .title {
    font-size: 20px;
    line-height: 23px;
  }

  .steps .content .step-list .list .step .detail {
    font-size: 15px;
    line-height: 22px;
  }

  .main-block .requirement-section .left-text-part h2 {
    font-size: 32px;
  }

  .main-block .requirement-section .left-text-part p {
    font-size: 15px;
  }

  .requirement-section .right-card-part .steps-card .top-heading {
    width: 100%;
  }

  .requirement-section .right-card-part .steps-card .bottom-content p {
    font-size: 15px;
  }

  .reason .content .top .head {
    font-size: 36px;
  }

  .reason .content .top .text {
    font-size: 15px;
    line-height: 22px;
  }

  .reason .content .card-part .box {
    flex-direction: row;
  }

  .reason .content .card-part .box .text-part .title {
    font-size: 20px;
    line-height: 28px;
  }

  .reason .content .card-part .box .text-part .detail {
    font-size: 15px;
    line-height: 22px;
  }

  .loan-online-section .content .top .head {
    font-size: 36px;
    line-height: 44px;
  }

  .loan-online-section .content .top .text {
    font-size: 15px;
    line-height: 22px;
  }

  .loan-online-section .content .list .box {
    padding: 40px 50px;
  }

  .loan-online-section .content .list .box .text-part {
    margin-right: 0;
  }

  .pros-cons .content .top .head {
    font-size: 26px;
    line-height: 115%;
  }

  .pros-cons .content .top .text {
    font-size: 15px;
    line-height: 22px;
  }

  .pros-cons .content .legend {
    font-size: 20px;
    line-height: 26px;
  }

  .faq .content .top .head {
    font-size: 26px;
    line-height: 28px;
  }

  .faq .content .list .box .text-part .question {
    font-size: 20px;
    line-height: 22px;
  }

  .faq .content .list .box .text-part .answer {
    font-size: 17px;
    line-height: 22px;
  }
}
