body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.howTo{
    margin-top: 140px;
}

.howTo .content .first-part .image-part{
    width: 80%;
}

.howTo .content .first-part .text-part{
    max-width: 60%;
    padding-top: 10px;
}

.howTo .content .text-part .head{
    font-family: 'PolySans Trial';
    font-style: normal;
    font-weight: 40;
    font-size: 42px;
    line-height: 48.3px;
    color: #262626;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.howTo .content .first-part .text-part ol li{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #474953;
    margin-top: 20px;
}

.howTo .content .first-part .text-part .exampleTxt{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #4E5BCA;
    padding-top: 70px;
}

.howTo .content .first-part .text-part .exampleTxt span{
    font-weight: 600;
}

.howTo .content .second-part{
    margin-top: 120px;
}

.howTo .content .second-part .image-part{
    width: 80%;
}

.howTo .content .second-part .text-part{
    max-width: 65%;
}

.howTo .content .second-part .text-part .text{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #474953;
}

.steps{
    margin-top: 140px;
    padding-top: 120px;
    background-color: #F9F9F9;
    padding-bottom: 140px;
}

.steps .content .top{
    text-align: center;
    
}

.steps .content .top .head{
    width: 50%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 62px;
    color: #000000;
    padding: 0;
}

.steps .content .top .head-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    width: 65%;
    margin: 0 auto;
}

.steps .content .step-list{
    display: flex;
    gap: 120px;
    margin-top: 40px;
}

.steps .content .step-list .list .step{
    padding-top: 40px;
}

.steps .content .step-list .list .step .title{
    color:#262626;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.52px;
    margin: 0;
    padding: 0;
}

.steps .content .step-list .list .step .detail{
    color: #474953;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin: 20px 0 0 24px;
}

.reason{
    padding: 120px 0;
}

.reason .content .top{
    text-align: center;
}

.reason .content .top .head{
    color: #000;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    padding: 0;
}

.reason .content .top .text{
    color: #262626;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    width: 80%;
    margin: 20px auto;
}

.reason .content .card-part{
    margin-top: 50px;
}

.reason .content .card-part .grid{
    display: grid;
}

.reason .content .card-part .box{
    padding: 50px 35px;
    border-radius: 25px;
    background: #FFF5F5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    margin-bottom: 15px;
}

.reason .content .card-part .box .text-part{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reason .content .card-part .box .text-part .title{
    color:#000;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.52px;
    margin: 0;
}

.reason .content .card-part .box .text-part .detail{
    color: #474953;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.pros-cons{
    padding: 140px 0;
}

.pros-cons .content .top .head{
    color: #000;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    padding: 0;
}

.pros-cons .content .top .text{
    color: #262626;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    width: 60%;
}

.pros-cons .content .legend{
    color: #000;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.52px;
    margin-bottom: 15px;
}

.pros-cons .content .box{
    padding: 45px 50px;
    border-radius: 25px;
    background: #F9F9F9;
}

.pros-cons .content .pros .box .adv:first-child{
    margin-top: 0;
}

.pros-cons .content .pros .box .adv{
    margin-top: 35px;
}

.pros-cons .content .pros .box .adv .title{
    color: #108B5F;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.pros-cons .content .pros .box .adv .detail{
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.pros-cons .content .cons{
    margin-top: 30px;
    margin-bottom: 15px;
}

.pros-cons .content .cons .box .dis .title{
    color: #F41C5D;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.pros-cons .content .cons .box .dis .detail{
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

